{% extends 'base.html' %}
{%block title%}
user{{id}}
{%endblock%}
{%block content%}
   <div style="margin-top:20px; margin-left:20px">
    
      <h2>{{user.username}}</h2> 
      {%if session["role"] == "Admin" or session["user_id"] == id%}  
   
         <table class="table table-hover table-dark">
            <thead>
               <tr>
               <th scope="col">ID</th>
               <th scope="col">Username</th>
               <th scope="col">Name</th>
               <th scope="col">Age</th>
               <th scope="col">Email</th>
               <th scope="col">Role</th>
               </tr>
            </thead>
            <tbody>
               <tr>
               <td>{{ user.user_id }}</td>
               <td>{{ user.username }}</td>
               <td>{{ user.first_name }} {{user.last_name}}</td>
               <td>{{ user.age }}</td>
               <td>{{ user.email }}</td>
               <td>{{ user.role }}</td>
                     <td>
                     <a href="{{url_for('user_update', id=user.user_id)}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{user.user_id}}">Edit</a>
                     <a href="{{url_for('user_delete', id=user.user_id, role=user.role)}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure For Delete?')">Delete</a>
                     
               </td>
               </tr>
               </tbody>
            </table>
         
         {%if user.role == "Student" %}
         <h2>Your Subjects:</h2>
         <table class="table table-hover table-dark">
            <thead>
               <tr>
               <th scope="col">Subject ID</th>
               <th scope="col">Subject Name</th>
               <th scope="col">Teacher Name</th>
               <th scope="col">Email</th>
               <th scope="col">Grade</th>
               </tr>
            </thead>
            <tbody>
               {%for rec in recs%}
               <tr>
               <td>{{ rec.id }}</td>
               <td>{{ rec.name }}</td>
               <td>{{ rec.first_name }} {{rec.last_name}}</td>
               <td>{{ rec.email }}</td>
               <td>{{ rec.grade }}</td>
               </tr>
               {%endfor%}
            </tbody>
         </table>
         <table class="table table-hover table-dark">
            <thead>
               <tr>
               <th scope="col">AVG</th>
               </tr>
            </thead>
            <tbody>
               <tr>
               <td>{{ avg }}</td>
               </tr>
            </tbody>
         </table>
         {%endif%}
         {%if user.role == "Teacher" %}
         <h2>Your Subjects:</h2>
         <table class="table table-hover table-dark">
            <thead>
               <tr>
               <th scope="col">ID</th>
               <th scope="col">Name</th>
               </tr>
            </thead>
            <tbody>
               {%for subject in subjects%}
               <tr>
               <td>{{ subject.id }}</td>
               <td>{{ subject.name }}</td>
               </tr>
               {%endfor%}
            </tbody>
         </table>
         <h2>Your Students:</h2>
         <table class="table table-hover table-dark">
            <thead>
               <tr>
                  <th scope="col">Subject</th>
                  <th scope="col">Name</th>
                  <th scope="col">Age</th>
                  <th scope="col">Email</th>
                  <th scope="col">Grade</th>
                  
               </tr>
            </thead>
            <tbody>
               {%for student in students%}
               <tr>
               <td>{{ student.name }}</td>
               <td>{{ student.first_name }} {{student.last_name}}</td>
               <td>{{ student.age }}</td>
               <td>{{ student.email }}</td>
               <td>{{ student.grade }}</td>
               </tr>
               {%endfor%}
            </tbody>
         </table>
         {%endif%}
         {%if session["role"] == "Admin"%}
         <a class="btn btn-sm btn-secondary" href="{{ url_for('user_list') }}">back to users list</a>
         {%endif%}  
   </div>
   {%elif session["role"] == "Teacher"%}
      {%if user.role == "Teacher" %}
      <h2>Your Subjects:</h2>
      <table class="table table-hover table-dark">
         <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            </tr>
         </thead>
         <tbody>
            {%for subject in subjects%}
            <tr>
            <td>{{ subject.id }}</td>
            <td>{{ subject.name }}</td>
            </tr>
            {%endfor%}
         </tbody>
      </table>
      <h2>Your Students:</h2>
      <table class="table table-hover table-dark">
         <thead>
            <tr>
               <th scope="col">Subject</th>
               <th scope="col">Name</th>
               <th scope="col">Age</th>
               <th scope="col">Email</th>
               <th scope="col">Grade</th>
               
            </tr>
         </thead>
         <tbody>
            {%for student in students%}
            <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.first_name }} {{student.last_name}}</td>
            <td>{{ student.age }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.grade }}</td>
            </tr>
            {%endfor%}
         </tbody>
      </table>

         {%elif user.role == "Student"%}
            </table>
            <table class="table table-hover table-dark">
            <thead>
               <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Age</th>
                  <th scope="col">Email</th>
                  
               </tr>
            </thead>
            <tbody>
               <tr>
               <td>{{ student.first_name }} {{student.last_name}}</td>
               <td>{{ student.age }}</td>
               <td>{{ student.email }}</td>
            </tr>
               </tbody>
            </table>
            <a class="btn btn-sm btn-secondary" href="{{ url_for('user_list') }}">back to users list</a>
            {%endif%}
   
   {%elif session["role"] == "Student" %}
      <table class="table table-hover table-dark">
         <thead>
            <tr>
            <th scope="col">Subject ID</th>
            <th scope="col">Subject Name</th>
            <th scope="col">Teacher Name</th>
            <th scope="col">Email</th>
            <th scope="col">Grade</th>
            </tr>
         </thead>
         <tbody>
            {%for rec in recs%}
            <tr>
            <td>{{ rec.id }}</td>
            <td>{{ rec.name }}</td>
            <td>{{ rec.first_name }} {{rec.last_name}}</td>
            <td>{{ rec.email }}</td>
            <td>{{ rec.grade }}</td>
            </tr>
            {%endfor%}
         </tbody>
      </table>
      <table class="table table-hover table-dark">
         <thead>
            <tr>
            <th scope="col">AVG</th>
            </tr>
         </thead>
         <tbody>
            <tr>
            <td>{{ avg }}</td>
            </tr>
         </tbody>
      </table>
   {%endif%}
    <div id="modaledit{{id}}" class="modal fade" role="dialog">


      <div class="modal-dialog">
   
   
         <div class="modal-content">
   
   
            <div class="modal-header">
   
   
              <h4 class="modal-title">Update Information</h4>

               <button type="button" class="close" data-dismiss="modal">&times;</button>
   
   
   
   
            </div>
   
   
            <div class="modal-body">
   
   
               <form action="{{url_for('user_update')}}" method="POST">
   
   
                  <div class="form-group">
   
   
                     <label>First Name:</label>
                      <input type="hidden"  name="id" value="{{id}}">
   
                     <input type="text" class="form-control" name="first_name" value="{{user.first_name}}" required="1">
   
   
                  </div>
                 
                 <div class="form-group">
  
  
                    <label>Last Name:</label>

                    <input type="text" class="form-control" name="last_name" value="{{user.last_name}}" required="1">
  
  
                 </div>
     
                 <div class="form-group">
        
        
                    <label>username:</label>

                    <input type="text" class="form-control" name="username" value="{{user.username}}" required="1">
  
  
                 </div>
                 <div class="form-group">
        
        
                    <label>email:</label>

                    <input type="text" class="form-control" name="email" value="{{user.email}}" required="1">
  
  
                 </div>
                 {%if session["user_id"] == user.user_id%}
                    <div class="form-group">
           
           
                       <label>new password:</label>

                       <input type="text" class="form-control" name="password">
     
     
                    </div>
                 {%endif%}
           
                 <div class="form-group">
   
   
                     <button class="btn btn-primary" type="submit">Update</button>
   
   
                  </div>
   
   
               </form>
   
   
            </div>
   
   
            <div class="modal-footer">
   
   
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
   
   
            </div>
   
   
         </div>
   
   
      </div>
   
   
   </div>
    

<style>
    .modal-content {
      background-color: #212121
    }
  </style>
{%endblock%}