{% extends "base.html" %}
{% block title %}
users
{% endblock %}
{%block content%}
<div style="margin-top:20px; margin-left:20px">
    
    <h2>Users List</h2>
    
    <table class="table table-hover table-dark">
        <thead>
            <tr>
            {%if session["role"] == "Admin"%}
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            {%elif session["role"] == "Teacher"%}
            <th scope="col">Subject Name</th>
            <th scope="col">Student Name</th>
            <th scope="col">Email</th>
            <th scope="col">Grade</th>
            {%endif%}
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for user in users %}
            <tr>
            {%if session["role"] == "Admin"%}
         
            <td>{{ user.user_id }}</td>
            <td><a href="{{url_for('user_detail', id=user.user_id)}}">{{ user.username }}</td>
            <td>{{ user.first_name }} {{user.last_name}}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
                <td>
                <a href="{{url_for('user_update', id=user.user_id)}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{user.user_id}}">Edit</a>
                <a href="{{url_for('user_delete', id=user.user_id, role=user.role)}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure For Delete?')">Delete</a>
                
            </td>
            {%elif session["role"] == "Teacher"%}
            <td>{{ user.name }}</td>
            <td><a href="{{url_for('user_detail', id=user.user_id)}}">{{ user.first_name }} {{user.last_name}}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.grade }}</td>
            
            <td>
                <a href="{{url_for('user_update', id=user.user_id, name=user.name)}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{user.user_id}}{{user.name}}">Edit</a>
                
            </td>
            {%endif%}   
         </tr>
            {%if session["role"] == "Admin"%}
            <div id="modaledit{{user.user_id}}" class="modal fade" role="dialog">
            {%elif session["role"] == "Teacher"%}
            <div id="modaledit{{user.user_id}}{{user.name}}" class="modal fade" role="dialog">
            {%endif%}

                <div class="modal-dialog">
             
             
                   <div class="modal-content">
             
             
                      <div class="modal-header">
             
             
                        <h4 class="modal-title">Update Information</h4>

                         <button type="button" class="close" data-dismiss="modal">&times;</button>
             
             
             
             
                      </div>
             
             
                      <div class="modal-body">
             
             
                         <form action="{{url_for('user_update')}}" method="POST">
             
                           {%if session["role"] == "Admin"%}
                            <div class="form-group">
             
             
                               <label>First Name:</label>
                                <input type="hidden"  name="id" value="{{user.user_id}}">
             
                               <input type="text" class="form-control" name="first_name" value="{{user.first_name}}" required="1">
             
             
                            </div>
                           
                           <div class="form-group">
            
            
                              <label>Last Name:</label>

                              <input type="text" class="form-control" name="last_name" value="{{user.last_name}}" required="1">
            
            
                           </div>
               
                           <div class="form-group">
                  
                  
                              <label>username:</label>

                              <input type="text" class="form-control" name="username" value="{{user.username}}" required="1">
            
            
                           </div>
                           <div class="form-group">
                  
                  
                              <label>Age:</label>

                              <input type="number" class="form-control" name="age" value="{{user.age}}" min="18" max="60" required="1">
            
            
                           </div>
                           <div class="form-group">
                  
                  
                              <label>email:</label>

                              <input type="text" class="form-control" name="email" value="{{user.email}}" required="1">
            
            
                           </div>
                           {%if session["user_id"] == user.user_id%}
                              <div class="form-group">
                     
                     
                                 <label>new password:</label>

                                 <input type="text" class="form-control" name="password">
               
               
                              </div>
                           {%endif%}
                           {%elif session["role"] == "Teacher"%}
                           <div class="form-group">
                     
                     
                              <label>grade:</label>
                                <input type="hidden"  name="id" value="{{user.user_id}}">
                                <input type="hidden"  name="name" value="{{user.name}}">
                              <input type="number" class="form-control" name="grade" value="{{user.grade}}" min="0" max="20">
            
            
                           </div>
                           {%endif%}
                           <div class="form-group">
             
             
                               <button class="btn btn-primary" type="submit">Update</button>
             
             
                            </div>
             
                            
                         </form>
             
             
                      </div>
             
             
                      <div class="modal-footer">
             
             
                         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             
             
                      </div>
             
             
                   </div>
             
             
                </div>
             
             
             </div>
            {% endfor %}
        </tbody>
    </table>
 
</div>
<style>
    .modal-content {
      background-color: #212121
    }
  </style>
{% endblock %}